<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- scope
    singleton:单例 默认,在工厂中全局唯一,只创建一次
    prototype: 多例,全局不唯一,每次使用都会创建一个新的对象
    -->
    <!-- 生命周期
    何时创建 随着工厂启动,所有单例bean随之创建 多例的bean,每次使用时创建
    何时销毁 随着工厂关闭,所有单例bean随之销毁( 注意: spring对多例bean管理松散,不会负责多例bean的销毁)
    -->
    <bean class="scale.TagDaoImpl" id="tagDao" scope="singleton" init-method="init" destroy-method="destroy"></bean>
</beans>